body{
background-color:black;    
color:rgb(105, 203, 169);
}

.meio {
    padding: 300px;
    height: 1000px;
    color: #714ee3;
}

h1 {
    text-align: center;
    color: rgb(0, 55, 255);
}

.cor1{
    color: rgb(252, 2, 2);
}

.cor2{
    color: hotpink;
}

.intro{
    color: #c179f5;
}

