body{
background-color:black;    
color:cyan;
}

.meio {
    padding: 300px;
    height: 1000px;
    color: #714ee3;
}

h1 {
    text-align: center;
    color: aqua;
}

.cor1{
    color: rgb(138, 12, 12);
}

.cor2{
    color: hotpink;
}

.intro{
    color: #c179f5;
}

.cor3{
    color: lightpink;
}

.cor4{
    color: palegreen;
}

.cor5{
    color: #529fa9;
}

.cor6{
    color: violet;
}

.cor7{
    color: royalblue;
}

.cor8{
    color: darkviolet;
}